<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Titre</th>
      <th>Texte</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let e of elements">
      <td>{{ e.date | date: 'dd.MM.yyyy' }}</td>
      <td>{{ e.titre }}</td>
      <td style="white-space: normal;">{{ e.texte }}</td>
      <td>
        <span (click)="onEdit(e)">Modifier</span>
        <span (click)="onDelete(e)">Supprimer</span>
      </td>
    </tr>
  </table>
</div>

<h2 *ngIf="element?._id">Mettre à jour l'élément</h2>
<h2 *ngIf="!element?._id">Créer le nouvel élément</h2>
<form>
  <div class="form-group">
    <datetime [(ngModel)]="element.date" [timepicker]="false" name="date" id="date"></datetime>
  </div>
  <div class="form-group">
    <input class="form-control" [(ngModel)]="element.titre" name="titre" id="titre" placeholder="Titre" />
  </div>
  <div class="form-group">
    <textarea class="form-control" [(ngModel)]="element.texte" name="texte" id="texte" placeholder="Texte"></textarea>
  </div>
  <button class="btn btn-default" (click)="onSave()">Sauver</button>
</form>

<p>{{message}}</p>